body{
    background-color: black
}

html h2 {
    color: green;
}

body h2 {
    color: gold;
}

h1{
    border: 2px white;
    text-align: center;
}

h1, h2, h3, p, a, table{
    color: white
}

hr{
    color: gold;
}