/* ##############DEFAULTS################# */
nav, header, footer{
    display: block;
}

body, html{
    height: 100%;
    background-color: black;
    line-height: 1;
    margin: 0;
}
/* ############################### */
@font-face{
    font-family: "daftfont";
    src: url("css/fonts/daftFont.TTF")
}

nav{
    width: 100%;
    margin: 0;
}

nav ul{
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

 ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

ul.topnav li a:hover{
    background-color: silver;
    color: black;
}

ul.topnav li.dropdownIcon{
    display: none;
}

/* ##################Container################ */

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
/* ##################Container################ */


body h2 {
    color: gold;    
}

h1.title{
    font-style: oblique;
    text-align: center;
    font-size: 2.5em;
    font-family: "daftfont";
}

h1, h2, h3, p, a, table{
    color: white;
    font-family: "Orbitron";
    text-decoration: none;
}

p{
    font-size: 18px;
    line-height: 1.2;
}

label{
    color: white;
    font-family: "Orbitron";
    font-weight: bolder;
    font-size: 30px;
}

hr{
    color: gold;
    margin: 0%;
}

.textImage { 
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;  
    box-shadow: 2px 2px 20px darkgray;
    border-radius: 50%;
}

.daftImage {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 1.5px solid gold;
    float: none;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}


/*#################COLUMNS############*/
.half-col{
    width: 50%
}

.articleColumn{
    float: left;
    width: 75%;
}

.articleImageColumn{
    float: left;
    width: 25%;
}

.column{
    float: left;
    width: 12.5%;
    padding: 1px;

}

.thirdsColumn{
    float: left;
    width: 33.33%;
}

.fullColumn{
    float: left;
    width: 100%;
}

.fourColumn{
    float: left;
    width: 25%;
}
/*#################COLUMNS############*/

*{
    box-sizing: border-box;
}

#videos{
    padding: 20px;
    margin: 50px;
}

/* ###########CUSTOM STYLES########### */

#section-1-gradient{
    background: linear-gradient(black, #323133, black);
}

div.leftside-col{
    margin-left: 20%;
}

div.rightside-col{
    margin-left: 10%;
}

h1.large{
    color: white;
    font-size: 56px;
    line-height: 25px;
}


input[type="text"]{
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

h1.section2header{
    font-size:  3.5em;
    text-align: center;
}

div.box{
    text-align: center;
    background-color: black;
    box-shadow: 0px 0px 1px 2px rgba(255,255,255,1);
    margin: 24px;
    padding: 24px;
    border-radius: 7PX;
}

div.icon{
    width: 100%; 
}

button{
    color: white;
    font-family: "Orbitron";
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(black, #323133, black);
    display: block;
    padding: 15px 60px;
    margin: 5px;
    text-align: center;
    border-radius: 7px;

}

button.aprendeMas{
    display: block;
    margin: auto;
}

footer.footerOne{
    padding-left: 10%;
}

footer.footerOne ul{
    color: white;
    font-family: "Orbitron";
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding-left: 0;
    line-height: 1.5;

}


/* ############MOBILE############# */
@media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    

    ul.topnav.responsive{
        position: relative;
    }

    ul.topnav.responsive li{
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;

    }

    .half-col,
    .thirdsColumn,
    .articleColumn,
    .articleImageColumn,
    .tables
    {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    .textImage{
        width: 100%
    }

    article p{
        font-size: 15px;
    }

    div.box{
        padding: 5px;
        display: block;
    }

    div.leftside-col,
    div.rightside-col {
        margin: 15px;
    }

    div.mobileColumn{
        display: block;
        width: 50%;
    }

    footer.footerOne h2{
        padding-right: 10%;
    }
   
    input[type="text"]{
        width: 300px;
    }

    .videoContainer , iframe{
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    div.leftside-col h1{
        font-size: 35px;
    }
}
