@font-face{
    font-family: "daftfont";
    src: url("css/fonts/daftFont.TTF")
}

body, html{
    height: 100%;
    background-color: black;
}

body h2 {
    color: gold;    
}

h1.title{
    font-style: oblique;
    text-align: center;
    font-size: 2.5em;
    font-family: "daftfont";
}

h1, h2, h3, p, a, table{
    color: white;
    font-family: "Orbitron";
    text-decoration: none;
}

hr{
    color: gold;
}

.textImage { 
    /* max-width: 100%;
    height: auto; */
    width: 200px;
    height: 200px;  
    position: relative;
    top: -80px;
    float: right;
}

.daftImage {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 1.5px solid gold;
    float: none;
}

.row{
    width: 100%;
    display: flex;
}

/* margin crea espacio afuera de un element y padding crea espacio dentro de un element */
/* button{
    color: white;
    font-family: "Orbitron";
    background-color: black;
    padding: 20px;
    
} */

.column{
    float: left;
    width: 12.5%;
    padding: 1px;

}

.albumsColumn{
    float: left;
    width: 25%;
    padding: 1px;
}